/* Reset Css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* 1. vị trí
2. kích thước
3. Màu sắc
4. Kiểu dáng: kiểu chữ, hình tròn, vuông,... */

.clear {
    clear: both; /* Bao tất cả các thẻ div trong thẻ div lớn*/
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.333333%;
}

.col-four {
    width: 25%;
}

.col-full {
    width: 100%;
}

#main {
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* overflow: hidden; */
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none; /*Kí tự bắt đầu trong danh sach "li"*/
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none; /*bỏ gạch chân*/
    line-height: 46px; /* Chỉnh chiều cao của một dòng*/
    padding: 0px 24px;
    font-size: 16px;
    display: block; /* Chi định cách hiện thị của đối tượng */
    /* position: absolute; */
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 160px; /* Chiều rộng tối thiểu */
    position: absolute; /* Phụ thuộc vào thẻ cha gần nhất chứa nó*/
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Độ mờ của viền bóng của thẻ*/
    top: 100%;
    left: 0;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 15px;
    line-height: 46px;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#slider {
    position: relative; /*Phụ thuộc vào trình duyệt */
    margin-top: 46px;
    padding-top: 50%;
    background-image: url("https://mrton288.github.io/Band-music/assets/img/slider1/background1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 48px;

    /* left: 50%;
    transform: translateX(-50%); */

    /* width: 100%; */

    right: 0;
    left: 0;

    text-align: center; /* Căn giữa văn bản của thẻ*/
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
    text-shadow: 2px 2px #000;
}

#slider .text-description {
    margin-top: 25px;
    font-size: 15px;
    text-shadow: 2px 2px #000;
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    /* margin-bottom: 64px; */
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px; /* Khoảng cách giữa các chứ*/
    margin-top: 10px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: italic;
    /* color: violet; */
    opacity: 0.6; /* độ mờ cho đối tượng*/
}

#content .about-text {
    font-size: 15px;
    line-height: 1.4;
    text-align: justify; /* Căn cho đầy thẻ*/
}

#content .member-list {
    margin-top: 32px;
    padding-bottom: 32px;
}

#content .member-item {
    /* float: left; */
    width: calc(100% / 4);
    /* text-align: center; */
}

#content .member-name {
    font-size: 15px;
}

#content .member-name a {
    text-decoration: none;
}

#content .member-img {
    width: 140px;
    height: 200px;
    margin-top: 15px;
    border-radius: 4px; /* Bo viền của image*/
}

/* Tour-section */

#content .tour-section {
    background-color: #000;
}

.contact-info a {
    opacity: 1;
}

.contact-info a:hover {
    opacity: 0.6;
}

.tikets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.tikets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tikets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px; /*Làm thẻ div dày lên */
    margin-left: 16px;
}

.tikets-list .quantity {
    float: right;
    width: 24px;
    height: 22px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    margin-top: -3px;
}

.address {
    margin-top: 16px;
    padding-bottom: 48px;
}

/* .address-list {
    float: left;
    width: calc(100% / 3);
    padding: 0 8px;
} */

.address-img {
    width: 100%;
    height: 184px;
    display: block;
}

.address-img:hover {
    opacity: 0.6;
}

.body-address {
    background-color: #fff;
    padding: 16px;
}

.address-heading-address {
    font-weight: 550;
    margin-bottom: 16px;
}

.address-date {
    font-size: 15px;
    margin-bottom: 16px;
    color: #757575;
}

.address-about {
    font-size: 15px;
    line-height: 1.4;
}

.address-buy-sitkets {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    /* margin: 4px; */
    /* margin: 4px 8px; */
    padding: 11px 17px;
    display: inline-block;
    margin-top: 16px;
}

.address-buy-sitkets:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.modal {
    position: fixed; /*Tương quan với cửa sổ của trình duyệt */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modal-input ease 0.4s;
}

header.modal-heading-tickets {
    height: 130px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    letter-spacing: 6px;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
    color: #fff;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    background-color: #009688;
    width: 100%;
    border: none;
    font-size: 15px;
    padding: 18px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
}

#buy-tickets:hover {
    color: #000;
    opacity: 0.8;
}

.modal-footer {
    /* float: right; */
    /* padding: 20px; */
    text-align: right;
    padding: 16px;
}

.modal-footer a {
    color: #2196f3;
}

@keyframes modal-input {
    from {
        transform: translateY(-140px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* contact-form */
.contact-content {
    margin-top: 48px;
    padding-bottom: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form .form-control {
    font-size: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn {
    color: #fff;
    background-color: #000;
    padding: 11px 17px;
    border: none;
    float: right;
    cursor: pointer;
    -webkit-appearance: none;
}

.contact-form .form-submit-btn:hover {
    color: #000;
    background-color: #ccc;
}

/* Map section */
.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 22px;
}

#footer .socials-list a {
    /* color: rgba(0, 0, 0, 0.6); */
    text-decoration: none;
}

#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

.copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.copyright a {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.5);
}
